/* google font */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
/* root/body */
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
/* heading */
h1 {
  font-size: 58px;
  font-weight: 900;
}
h2 {
  font-size: 35px;
  font-weight: 900;
}
h3 {
  font-size: 30px;
  font-weight: 700;
}
h4 {
  font-size: 24px;
  font-weight: 700;
}
p {
  font-size: 16px;
  font-weight: 300;
}
/* common used css */
.btn-text {
  color: white;
  background-color: #e55473;
  padding: 10px 20px;
  border-radius: 8px;
  border: 0;
}
.text-center {
  text-align: center;
}
.primary-color {
  color: #e55473;
}
.secondary-color {
  color: white;
}
.half-width {
  width: 50%;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.screen {
  max-width: 1024px;
  margin: auto;
}
/* header part */
.banner {
  background-color: rgba(229, 84, 115, 0.1);
  display: flex;
  padding: 0px 200px 0 200px;
}
.banner img {
  width: 400px;
  padding: 50px 240px 0 120px;
}
.banner p {
  margin: 32px 0;
}
.banner .title-part {
  padding: 120px 0 80px 0;
}
/* main part */
.main {
  margin: 130px 0;
}

/* our feature part */

.features p {
  margin: 24px 0;
}

.flower-container {
  width: 200px;
  height: 300px;
  /* border: 5px solid black; */
  border-radius: 300px 300px 0 0;
  margin: 24px 0;
}
.flower-container img {
  width: 200px;
  height: 280px;
}
.img1 {
  background-color: rgba(167, 33, 98, 0.15);
}
.img2 {
  background-color: rgba(5, 151, 160, 0.15);
}
.img3 {
  background-color: rgba(71, 125, 17, 0.15);
}
.feature-link {
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: black;
  text-decoration: underline;
  padding-top: 30px;
}
/* hot deal */
.hot-deal {
  height: 550px;
  background-color: rgba(229, 84, 115, 0.05);
  margin: 128px 0;
}
.hot-deal img {
  width: 318px;
  height: 420px;
}
.hot-deal article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hot-deal article p {
  margin: 24px 0;
}
/* instagram section */
.instagram p {
  margin: 24px 0;
}
.photo-container {
  width: 200px;
  height: 250px;
  margin: 24px 0;
}
.photo-container img {
  width: 200px;
  height: 250px;
}
/* subscribe section */
.subscribe {
  height: 449px;
  margin-top: 128px;
  margin-bottom: 128px;
  background-image: url("../assets/img/Flower-Asset/Rectangle\ 9.png");
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe .form-container {
  display: block;
}
.subscribe .form-container p {
  margin-bottom: 60px;
}
.subscribe .form-container input {
  width: 400px;
  height: 20px;
  padding: 15px;
  border: none;
}
/* extra section */
.order {
  height: 450px;
}
.order-img {
  height: 450px;
}

/* footer */
.footer {
  height: 449px;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer p {
  margin: 24px 0;
}
