/* google font */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
/* root/body */
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
/* heading */
h1 {
  font-size: 58px;
  font-weight: 900;
}
h2 {
  font-size: 40px;
  font-weight: 900;
}
h3 {
  font-size: 35px;
  font-weight: 700;
}
h4 {
  font-size: 24px;
  font-weight: 700;
}
p {
  font-size: 16px;
  font-weight: 300;
}
/* common used css */
.btn-text {
  color: white;
  background-color: #e55473;
  padding: 10px 20px;
  border-radius: 8px;
  border: 0;
}
.text-center {
  text-align: center;
}
.primary-color {
  color: #e55473;
}
.secondary-color {
  color: white;
}
.half-width {
  width: 50%;
}
/* header part */
.banner {
  background-color: rgba(229, 84, 115, 0.1);
  display: flex;
  padding: 0px 200px 0 200px;
}
.banner img {
  width: 400px;
  padding: 50px 240px 0 120px;
}
.banner p {
  margin: 32px 0;
}
.banner .title-part {
  padding: 120px 0 80px 0;
}
